<%- include("partials/header.ejs")%>
<div class="footer">
    <ul class="list-group">
      <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Task to Do</h5>
          <p class="card-text">Work List!</p>
          <a href="/today" class="btn btn-primary">Add Task</a>
        </div>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
          <label class="form-check-label" for="firstCheckbox">water plants</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
          <label class="form-check-label" for="secondCheckbox">buy banana</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
          <label class="form-check-label" for="thirdCheckbox">train </label>
        </li>
      </ul>
    </div>  
<%- include("partials/footer.ejs") %>